<h1>Players</h1>

<h2>This is the page for all the players: views/players.html.erb.</h2>

<h3>All players individual pages should be linked to this page</h3>

<!-- Link to Jason's page:
  # controller: "players#jason"
  # route: "jason"
  # view: "players/jason" -->

<p>
<%= link_to "Phil [striker] [captain]", phil_path %>
<p><%= link_to "Jason [sweeper]", jason_path %>
<p><%= link_to "Cherri [midfield]", cherri_path %>
<p><%= link_to "Eileen [striker]", eileen_path %>
<p><%= link_to "Justin [goalie]", justin_path %>
</p>
