<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Bad Karma" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Bad Karma" %>">

    <link rel="shortcut icon" href="images/favicon.ico">

    <%= stylesheet_link_tag "css/bootstrap.css", :media => "all" %>
    <%= stylesheet_link_tag "css/flat-ui.css", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <%= yield(:head) %>

  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <header class="navbar navbar-fixed-top">

    </header>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">

              <%= yield %>
              <hr>
              <h6>
                <% if logged_in? %>
                  <%= "Logged in as #{current_user.username}" %>
                  <%= link_to "(logout)", logout_path %>
                <% else %>
                  <%= link_to "(login)", login_path %>
                <% end %>
              </h6>

            </div>
          </div>
          <footer>
            <div class="row">
              <div class="span12">
                <ul class="nav">
                  <li>@copyright
                  <li align="right">designed by phil
                </ul>
              </div>
            </div>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->

    <!-- Load JS here for greater good =============================-->
    <script src="js/jquery-1.8.2.min.js"></script>
    <script src="js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="js/jquery.dropkick-1.0.0.js"></script>
    <script src="js/custom_checkbox_and_radio.js"></script>
    <script src="js/custom_radio.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/jquery.placeholder.js"></script>
    <script src="http://vjs.zencdn.net/c/video.js"></script>
    <script src="js/application.js"></script>
    <!--[if lt IE 8]>
      <script src="js/icon-font-ie7.js"></script>
      <script src="js/icon-font-ie7-24.js"></script>
    <![endif]-->
  </body>
</html>